variable "access_key" {
  description = "aws access key"
  default = ""
}

variable "secret_key" { 
  description = "aws secret access key"
  default = ""
}

variable "region" { 
  description = "aws region"
  default     = "us-west-2" 
}



variable "security_group_name" {
  description = "name for the security group"
}

variable "vpc_id" {
  description = "the vpc the security group will go in"
  default = "vpc-5870843c"
}

variable "your_external_ip" {
  description = "place your external ip address here for access"
  default = "50.170.57.83/32"
}
