# Access / Secret Key
variable "access_key" { 
  description = "aws access key"
  default = ""
}

variable "secret_key" { 
  description = "aws secret access key"
  default = ""
}

variable "region"     { 
  description = "aws region"
  default     = "us-west-2" 
}

variable "ec2_name"     { 
  description = "ec2 instance name tag"
  default     = "dev-terraform-1" 
}

variable "ec2_environment"     { 
  description = "ec2 instance environment tag"
  default     = "dev" 
}

variable "ami_image"     { 
  description = "ami image id"
  default     = "ami-9abea4fb" 
}

variable "instance_type"     { 
  description = "aws instance type"
  default     = "t2.micro" 
}

variable "pub_key"     { 
  description = "public key for ssh authentication"
  default     = ""
}
