variable "access_key" { 
  description = "aws access key"
  default = ""
}

variable "secret_key" { 
  description = "aws secret access key"
  default = ""
}

variable "region"     { 
  description = "aws region"
  default     = "us-west-2" 
}

variable "name" { 
  default = "bkottke-vpc"
}

variable "ec2_environment" {
  default     = "dev"
}

variable "cidr" { 
  default = "10.0.0.0/16"
}

variable "public_subnets" { 
  default = "10.0.10.0/24,10.0.11.0/24" 
}

variable "private_subnets" { 
  default = "10.0.20.0/24,10.0.21.0/24" 
}

variable "azs" {
  default = "us-west-2a,us-west-2b"
}

variable "enable_dns_hostnames" {
  description = "should be true if you want to use private DNS within the VPC"
  default = true
}

variable "enable_dns_support" {
  description = "should be true if you want to use private DNS within the VPC"
  default = true
}
